<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Qur'an Recitation by a Child</title>

    <!-- CSS -->
    <link rel="stylesheet" href="site.css" />
</head>
<body>

    <!-- Page Content -->
    <h1 id="title">Beautiful Qur'an Recitation</h1>
    <div class="bismillah" id="bismillah">بِسْمِ ٱللَّٰهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ</div>

    <div class="video-container" id="videoBox">
        <iframe src="https://www.youtube.com/embed/tmsEu0-8UtM?si=KfK1PB-Xz0ntzH-3"
                title="Qur'an Recitation by a Child"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>

    <!-- JS -->
    <script src="site.js"></script>
</body>
</html>
